@import './colors';
@import './base';

.analysis-table,
.analysis-table th,
.analysis-table td,
.analysis-table tr {
    border: 1px solid #000;
}

.response-td {
    width: 50%;
}

.analysis-container{
    padding: 1em 2em 2em 2em;
    margin-bottom: 4em;
    border-radius: 5px;
    background-color: $white;

    nav {
        margin-bottom: 1em;
        :hover {
            color: $scarlet;
        }
    }
    a {
        color: $grey;
    }
}

.segment-selector {
    background-color: $white;
}

.heat-segment {
    width: 600px;
    overflow: hidden;
    font-family: $body-font;
    font-size: 18pt;
    position: relative;
}

