$red: rgb(218, 26, 37);
$scarlet: rgb(210, 58, 43);
$hot_pink: rgb(221, 68, 104);
$rose: rgb(233, 150, 157);
$beige: rgb(237, 227, 215);

$black: rgb(4, 4, 6);
$brown: rgb(104, 42, 36);
$grey: rgb(192,192,192);
$light_grey: rgb(233,236,239);
$dark_grey: rgb(52,58,64);
$blue: rgb(86, 105, 130);

$turquoise: rgb(96, 133, 135);
$forest_green: rgb(110, 140, 76);
$yellow_green: rgb(157, 176, 73);
$mint: rgb(176, 199, 173);

$gold: rgb(213, 169, 61);

