@import "./colors.scss";

#landing-header {
    color: $brown;

    font-size: 36px;
    @media (min-width: 768px) {
        font-size: 86px;
    }
}

.landing-top-link {
    @extend .body-text;
    color: inherit;


}
a:hover {
    text-decoration: none;
    color: $red;
}

.landing-btn {
    @extend .btn-outline-dark;
    border-radius: 0;
    border-top: 0;
}

// gets rid of the overlapping border
.landing-btn + .landing-btn {
    border-left: 0 !important;
}
