p {
    text-align: left;
}

p, ul, ol {
    font-size: 15pt;
}

li:not(:last-child) {
    margin-bottom: 15px;
}

h2 {
    font-family: $text-font;
    font-style: italic;
    font-size: 14pt;
    margin-top: 5px;
    color: $brown;
    letter-spacing: 1px;
}

ul {
    margin: 25px 10px;
    padding: 10px 30px;
}

.container {
    margin-top: 25px;
}

.page-heading {
    color: $brown;
}


.body-text:not(:first-child) {
    margin-top: 25px;
}

.body-container {
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    margin-top: 25px;
}

.bullet-text {
    margin-left: 20px;
}

.navbar {
    display: flex;
    justify-content: space-around;

    .navbar-title:hover {
        text-decoration: none;
    }

    .navbar-nav {
        margin-left: 20px;
        margin-top: 10px;
    }
}

.nav-item {
    font-family: $text-font;
    font-size: $body-text-size;
    color: $dark_grey;

    margin-right: 25px;
}

a:hover {
    border-bottom: 1px $red solid;
    color: $red !important;
}

.blockquote {
    margin-top: 10px;
}

.blockquote-footer {
    text-align: right;
}
