@import "./base.scss";

/*
 * Scrollbar -- show always, and style it
 */
::-webkit-scrollbar {
    -webkit-appearance: none;
    background-color: rgba(0, 0, 0, 0.05);
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 1px;
    background-color: $scarlet;
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

body {
    background-color: $beige;
}

h1, h5 {
    font-family: $text-font;
}
.start-btn,
.form-control {
    height: 42px;
}

.author {
    font-size: 50%;
}

.title {
    color: $brown;
}

.overview-container,
.instructions,
.text-and-questions {
    background: white;
    border: 15px solid white;
    border-radius: 5px;
}

.segment-container {
    @extend .col;
    @extend .col-lg-8;
    max-width: 600px;
    z-index: 999;
}

.segment,
.scroll-overview {
    height: 500px;
    width: 600px;
    overflow: auto;
    font-family: $text-font;
    font-size: 18pt;
    position: relative;
}

.segment-num {
    @extend .mb-0;
    font-family: $text-font;
    font-size: $subheader-text-size;
    color: $brown;
}

.segment-text {
    text-indent: 1em;
    padding: 0 5% 0 0%;
    position: relative;
    z-index: 5;
}

.segment-selector {
    background-color: $beige;
}

.questions-container {
    @extend .col;
    @extend .col-lg-4;
    @extend .pl-lg-5;
    height: 500px;
    overflow: auto;

    @extend .mt-3;
    @extend .mt-lg-0;
    @media (min-width: 1140px) {
        max-width: 600px;
        min-width: 500px;
    }
}

.questions-boxes {
    overflow: auto;
    height:500px;
    font-family: $text-font;
    font-size: 14pt;
    text-decoration-color: dimgrey;
}

.evidence-toggle-button {
  font-size: 10px;
  text-transform: uppercase;
  background: $grey;
  border: none;
  outline: none;
  color: #fff;
}

.remove-evidence-button {
    @extend .btn;
    @extend .btn-sm;
    @extend .btn-outline-danger;
    @extend .d-inline;
    @extend .float-right;

    width: 50px;
}

.form-hint-text {
  font-size: 10px;
  text-transform: uppercase;
  color: #444;
  display: block;
  padding: 10px 0;
}


.question-text {
    font-family: $text-font;
    font-size: 14pt;
}

#instructions-list {
    padding:0 0 0 2em;
    margin-bottom: 2em;
}
#instructions-overview {
    padding: 0 0 0 0;
    margin-bottom: 2em;
}


/*
 *  Navbar styles
 */

$btn-color: $forest_green;

.next-btn {
    @extend .btn;
    @extend .btn-outline-primary;
    @extend .float-right;
    @include button-outline-variant($btn-color, $btn-color, lighten($btn-color,5%), $btn-color);
    &:hover{
        color: $white;
    }
    margin-bottom: 5px;
}

.start-btn {
    @extend .btn;
    @extend .btn-primary;
    @include button-variant($btn-color, $btn-color, lighten($btn-color,5%), $btn-color);
}

.analysis-table,
.analysis-table th,
.analysis-table td,
.analysis-table tr {
    border: 1px solid #000;
}

div .card .mb-4:last-child {
    margin-bottom: 0px !important;
}
