.story, .start, .finished, .question {
  text-align: center;
}

.context-text, .finished {
  padding-top: 3%;
}

.story-text, .start, .question-prompt {
  padding-bottom: 3%;
  padding-top: 3%;
}

.word-alert {
  padding-top: 3%;
  padding-left: 3%;
  padding-right: 3%;
}