.story, .start, .finished {
  text-align: center;
}

.context-text, .finished {
  padding-top: 3%;
}

.story-text, .start {
  padding-bottom: 3%;
  padding-top: 3%;
}

.question-prompt {
  padding-bottom: 3%;
}