/*
 * Scrollbar -- show always, and style it
 */
::-webkit-scrollbar {
    -webkit-appearance: none;
    background-color: rgba(0, 0, 0, 0.05);
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 1px;
    background-color: rgba(38, 125, 207, 0.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.segment,
.scroll-overview {
    height: 500px;
    width: 600px;
    overflow: auto;
    font-family: Perpetua;
    font-size: 18pt;
}
.segment-num {
    font-weight: bold;
}

.segment-text {
    padding:5px 5% 5px 0%;
    font-family: Perpetua;
}

.--evidence-mode-active .segment {
  background: #fafafa;
}

.evidence-section {
  margin-bottom: 20px;
}

.evidence-toggle-button {
  font-size: 10px;
  text-transform: uppercase;
  background: #666;
  border: none;
  outline: none;
  color: #fff;
  padding: 4px 10px;
}

.form-hint-text {
  font-size: 10px;
  text-transform: uppercase;
  color: #444;
  display: block;
  padding: 10px 0;
}

.questions-boxes {
    overflow: auto;
    height:500px;
    font-family: Perpetua;
    font-size: 14pt;
    text-decoration-color: dimgrey;
    padding-bottom: 5px;

}

.questions-overview {
    height: 520px;
    overflow: auto;
}

.question-text {
    font-family: Perpetua;
    font-size: 14pt;
}

#nav_panel {
    width: 500px;
    margin: 0em 0em 0em 8.75em;
}

#instructions-list {
    padding:0 0 0 2em;
}
#instructions-overview {
    padding: 0 0 0 0;
    margin-bottom: 2em;
}
