::-webkit-scrollbar {
    -webkit-appearance: none;
    background-color: rgba(0, 0, 0, 0.05);
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 1px;
    background-color: rgba(38, 125, 207, 0.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.segment,
.scroll-overview {
    height: 500px;
    overflow: auto;
    font-family: Perpetua;
    font-size: 18pt;
    margin: 1em 1em 1em 1em;
}

.questions-boxes {
    overflow: auto;
    font-family: Perpetua;
    font-size: 14pt;
    text-decoration-color: dimgrey;

}

.questions-overview {
    height: 550px;
    overflow: auto;
}

.question-text {
    font-family: Perpetua;
    font-size: 16pt;
}


#nav_panel {
    /*width: 500px;*/
    margin: 0em 0em 0em 8.75em;
}

