.scroll_segment{
    height: 150px;
    overflow: auto;
    font-family: Perpetua, sans-serif;
    font-size: x-large;
    margin-bottom: 1em;
}

.scroll_overview{
    height: 75vh;
    overflow: auto;
    font-family: Perpetua;
    font-size: x-large;
}
