.story, .start, .finished, .question, .response, .context, .go-back {
  text-align: center;
}

.context-text, .finished {
  padding-top: 3%;
}

.start, .question-prompt {
  padding-bottom: 3%;
  padding-top: 3%;
}

.word-alert {
  padding-top: 3%;
  padding-left: 3%;
  padding-right: 3%;
}

.multi-button {
  width: 100%;
}

.story {
  position: absolute;
  max-height: 90%;
  width: auto;
  top: 5%;
  left: 5%;
  right: 5%;
  bottom: 10%;
}

.story-box {
  border: 1px solid black;
  max-height: 90%;
  max-width: 90%;
  overflow: auto;
  display: inline-block;
}

.story-text {
  margin: 5%;
}

.scroll{
    height: 150px;
    width: 800px;
    overflow: auto;
    font-family: Perpetua;
    font-size: x-large;
}
